<div role="tabpanel" class="tab-pane" id="market">
  <div class="row no-gutters">
    <div class="col-md-6">
      <div class="crypt-buy-sell-form">
        <p>
          Buy <span class="crypt-up">{{ exchange.MainCurrency }}</span>
          <span class="fright">
            Available:
            <b class="crypt-up">
              {{ exchange.BaseValue | appDynamicDigit: 8 }} {{ exchange.BaseCurrency }}
            </b>
          </span>
        </p>

        <form novalidate [formGroup]="buyForm" (ngSubmit)="BuyMarket(buyForm.value,buyForm.valid)">
          <div class="crypt-buy">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">Price</span>
              </div>
              <input type="text" class="form-control" value="Market Price" readonly />
              <div class="input-group-append">
                <span class="input-group-text">{{ exchange.BaseCurrency }}</span>
              </div>
            </div>
            <div class="input-group mb-2"
              [ngClass]="{'has-error': isBuySubmitted && buyForm.get('amount').hasError('marketAmt')}">
              <div class="input-group-prepend">
                <span class="input-group-text">Amount</span>
              </div>
              <input type="number" class="form-control" formControlName="amount" placeholder="Enter amount"
                [(ngModel)]="exchange.BuyAmount" appEightDigit />
              <div class="input-group-append">
                <span class="input-group-text">{{ exchange.MainCurrency }}</span>
              </div>
            </div>
            <div class="input-group mb-2 rate-per">
              <div class="btn-group-add btn-group">
                <button type="button" class="btn btn-sm" *ngFor="let item of arrBalPerc"
                  (click)="calcBalance(item, 'buy')">{{item}}%</button>
              </div>
            </div>
            <div *ngIf="!isLogin">
              <div class="col-md-12">
                <button type="button" class="btn crypt-button-red-full">
                  <span style="text-decoration: underline;" (click)="GoToUrl('login')">Login</span> or
                  <span style="text-decoration: underline;" (click)="GoToUrl('register')">Register</span> to Trade
                </button>
              </div>
            </div>
            <div *ngIf="isLogin">
              <div class="col-md-12">
                <button type="submit" class="btn crypt-button-green-full" [ladda]="isBuyLoading">
                  <span>Buy {{ exchange.MainCurrency }}</span>
                </button>
              </div>
            </div>
            <!-- <div class="mt-1">
              <button type="submit" class=" btn crypt-button-green-full" [ladda]="isBuyLoading">
                <span>Buy {{ exchange.MainCurrency }}</span>
              </button>
            </div> -->
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <form novalidate [formGroup]="sellForm" (ngSubmit)="SellMarket(sellForm.value,sellForm.valid)">
        <div class="crypt-buy-sell-form">
          <p>
            Sell <span class="crypt-down">{{exchange.MainCurrency}}</span>
            <span class="fright">
              Available:
              <b class="crypt-down">
                {{ exchange.MainValue | appDynamicDigit: 8 }} {{exchange.MainCurrency}}
              </b>
            </span>
          </p>
          <div class="crypt-sell">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">Price</span>
              </div>
              <input type="text" class="form-control" value="Market Price" readonly />
              <div class="input-group-append">
                <span class="input-group-text">{{exchange.BaseCurrency}}</span>
              </div>
            </div>
            <div class="input-group mb-2"
              [ngClass]="{'has-error': isSellSubmitted && sellForm.get('amount').hasError('marketAmt')}">
              <div class="input-group-prepend">
                <span class="input-group-text">Amount</span>
              </div>
              <input type="number" formControlName="amount" placeholder="Enter Amount" [(ngModel)]="exchange.SellAmount"
                placeholder="Enter amount" appEightDigit class="form-control" (keyup)="setAmtValid()" />
              <div class="input-group-append">
                <span class="input-group-text">{{exchange.MainCurrency}}</span>
              </div>
              <span class="cl-spn" *ngIf="isSellSubmitted && isWalletBal">
                Wallet balance must be greater then amount.
              </span>
            </div>
            <div class="input-group mb-2 rate-per">
              <div class="btn-group-add btn-group">
                <button type="button" class="btn btn-sm" *ngFor="let item of arrBalPerc"
                  (click)="calcBalance(item, 'sell')">{{item}}%</button>
              </div>
            </div>
            <div *ngIf="!isLogin">
              <div class="col-md-12">
                <button type="button" class="btn crypt-button-red-full">
                  <span style="text-decoration: underline;" (click)="GoToUrl('login')">Login</span> or
                  <span style="text-decoration: underline;" (click)="GoToUrl('register')">Register</span> to Trade
                </button>
              </div>
            </div>
            <div *ngIf="isLogin">
              <div class="col-md-12">
                <button type="submit" class="btn crypt-button-red-full" [ladda]="isSellLoading">
                  <span>Sell {{ exchange.MainCurrency }}</span>
                </button>
              </div>
            </div>
            <!-- <div class="mt-1">
              <button type="submit" class="btn crypt-button-red-full" style="text-transform: uppercase"
                [ladda]="isSellLoading">
                <span>Sell {{ exchange.MainCurrency }}</span>
              </button>
            </div> -->
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade modal-order cs-modal" bsModal #modal="bs-modal" tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel" [config]="{ backdrop: 'static' }" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content user-balance-box">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Order Details</h4>
        <button type="button" class="close" data-dismiss="bs-modal" (click)="ClosePopUp()">&times;</button>
      </div>
      <div class="modal-body xs-p-30" *ngIf="isOpen">
        <div class="row">
          <div class="col-md-12">
            <div class="text-info" [innerHTML]="buysellmsg"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-md-12 text-right xs-mt-20">
          <button type="button" class="btn btn-sm btn-primary" data-dismiss="bs-modal" (click)="ClosePopUp()">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>