<section class="login">
    <div class="container">
        <div class="row xs-mb-30">
            <div class="col-md-12 col-md-offset-3 text-center">
                <div class="n-found-s">
                    <h1>404</h1>
                    <!-- <img src="../../../assets/images/cards.png" class="xs-mt-50" style="    max-width: 400px;"> -->
                    <h3 class="xs-pb-30 xs-pt-10">The Requested page does not Exits!</h3>
                    <a [routerLink]="['/trade']" class="btn-404">Home Page</a>
                </div>
            </div>
        </div>
    </div>
</section>