<section class="login">
    <div class="container">
        <div class="row xs-mb-30 md-mt-100 xs-mt-50">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="n-found-s md-mt-100 xs-mt-50">
                    <img src="../../../assets/images/error.png" class="xs-mt-20">
                    <h2 class="text-danger">500 Internal Server Error</h2>
                    <h3 style="    color: #ccd9e8;">An error occurred while processing this request.</h3>
                    <h4 style="color: #ccd9e8;" class="xs-mt-30">Go to <i class="fa fa-long-arrow-right"></i> <a
                            [routerLink]="['/trade']" class="btn btn-link btn-warning">Home Page</a></h4>
                </div>
            </div>

        </div>
    </div>
</section>